@layer utilities {
    .el-popper.is-customized {
        @apply !px-3 !py-[6px] !bg-gradient-to-r !from-[#9fed97] !to-[#cce581];
    }

    .el-popper.is-customized .el-popper__arrow::before {
        @apply !bg-gradient-to-tr !from-[#b2e68d] !to-[#bce689] !right-0;
    }
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}